@import "../../scss/variables";

.OrderLane-container {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin-top: 1.5em;

    .OrderLane-box {
        position: relative;
        height: 20vh;
        width: 47%;
        background: $white;
        margin: 0 6% 6% 0;
        border-radius: 15px;
    }

    .AddButton-container {
        position: relative;
        height: 20vh;
        width: 47%;
        margin: 0 6% 6% 0;
        border-radius: 15px;
        text-align: center;
        padding-top: 3.5em;
    }

    .right {
        margin-right: 0;
    }
}