@import "../../scss/variables";

.OrderLane-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    margin-top: 2em;

    .OrderLane-box {
        height: 20vh;
        flex: 0 0 47%;
        width: 47%;
        background: $white;
        border-radius: 15px;
        margin-bottom: 2em;
    }

    .AddButton-container {
        height: 20vh;
        flex: 0 0 47%;
        width: 47%;
        border-radius: 15px;
        text-align: center;
        padding-top: 3.5em;
    }

}