.UserCard {
  height: 18vh;
  background: white;
  border-radius: 15px;
  display: flex;
  justify-content: space-between;
  padding: 1.5em;
}

.box-left {
  width: 60%;
}

.box-right {
  width: 40%;
}