@import "../../scss/variables";

.AddButton {
    font-size: 2.5em;
    padding: .6em 1em;
    text-decoration: none;
    background-image: url("../../assets/images/add-button.svg");
    background-position: center;
    background-repeat: no-repeat;
}
