.intro {
  position: absolute;
  height: 100vh;
  width: 100vw;
  text-align: center;
  background: #DA2B4D;
}

.container {
  height: 80vh;
  width: 75vw;
  margin: 9vh auto;
  background: white;
  border-radius: 32px;
  box-shadow: 0 7px 35px;
}

.inner-container {
  height: 100%;
  padding-top: 15vh;
}

.title {
  color: #DA2B4D;
}

.description {
  margin: 15vh auto;
  width: 45vw;
}

.cta-container {
  width: 30vw;
  margin: 0 auto;
}