@import "../../scss/variables";

.CreateOrder {

    .order-name {
        display: block;
        width: 100%;
        padding: $size-s;
        font-size: 1rem;
    }

    .grid-container {
        padding: 2vh 0;
        height: 60vh;
    }
}