@import "../../../scss/variables";

.Room {
    display: block;
    margin: $size-s 0;
    text-decoration: none;
    height: 225px;
    background: $white;
    border-radius: 15px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
    padding: $size-s;
    color: $dark-red;
    font-size: 4em;
    font-weight: bold;

    &:hover {
        background: lighten($dark-red, 40%);
        color: $white;
    }
    span {
        font-size: 0.5em;
        font-family: "Avenir Next";
        font-style: italic;
        position: relative;
        bottom: 0.3em;
        color: #5A142A;
    }
}