@import "../../scss/mixins/center";

.Simulation {
    position: relative;
    width: 55vw;
    height: 55vw;
    margin: 5vw;

    .Chair {
        position: absolute;
        top: 0;
        left: 0;
        width: 200px;
        height: 200px;
    }
}