@import "../../scss/variables";

.Rooms {
    color: $red;
    font-weight: $fw-bold;
    margin-bottom: .2em;
    .AddRoom {
        padding: 1.5em;
        background: white;
        border-radius: 20px;
        font-size: 16px;
        box-shadow: 0 3px 6px rgba(0,0,0,0.16);
        text-decoration: none;
        font-weight: bold;
        color: #5A142A;
        margin: 1em 0 0 1em;
    }
}