@import "../../scss/variables";

.Room {
    display: block;
    margin: $size-s 0;
    text-decoration: none;
    width: 100%;
    height: 28vh;
    background: $white;
    border-radius: 15px;
    box-shadow: 10px 10px 47px -16px rgba(0, 0, 0, 0.75);
    padding: 0.8em 0 0 0.5em;
    color: $dark-red;
    font-size: 4em;
    font-weight: bold;

    &:hover {
        background: darken($white, 10%);
    }
}