// colors
$black: #000;
$yellow: #F8D828;
$red: #DA2B4D;
$light: #FCF9EF;
$dark-red: #5A142A;


// sizes
$size-s: 0.5em;
$size-m: 2em;
$size-l: 5em;

// font

//family
$ff-general: 'Avenir Next';

// weight
$fw-bold: 900;

// sizes
$fs-big: 40px;