// colors
$black: #000;
$white: #fff;
$yellow: #F8D828;
$red: #DA2B4D;

// shades
$lightgreen: #02A677;
$darkgreen: #005A5B;


// sizes
$size-s: 0.5em;
$size-m: 2em;
$size-l: 5em;

// font

//family
$ff-general: 'Avenir Next';

// weight
$fw-bold: bold;

// sizes
$fs-big: 40px;